.paginacion{
    display: flex;
    justify-content: space-between;
    padding:$separacion 0;

    button{
        border: none;
        background-color: $azul;
        color: $blanco;
        padding: 1rem 3rem;
        display: block;
        text-align: center;
        font-weight: $bold;
        font-size:2rem;
        text-transform: uppercase;
        &:hover{
            cursor: pointer;
        }

        &.ocultar{
            visibility: hidden;
        }
    }
}